<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Home</title>
</head>
<body>

        <form action="/login" method="POST" class="login-form">
            <div class="img-box">
                <img class="user-login" src="images/user-login.png">
            </div>
            <input type="email" id="email" name="email" placeholder="Email">
            <input type="password" id="password" name="password" placeholder="Password">
            <button class="btn-sign-in" type="submit">Sign in</button>
            <a class="register" href="register">Register</a>
            
        </form>

</body>
</html>
