<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/user.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <form action="/logout" method="post">
            <button class="logout" type="submit">Logout</button>
        </form>
    </nav>
    <section class="section-sub-nav">
        <div class="container">
            <div class="sub-nav">
                <div class="cell"></div>
                <ul class="sub-nav-list">
                    <li class="sub-link active"><a href="#">Migrations</a></li>
                    <li class="sub-link"><a href="#">Jira</a></li>
                    <li class="sub-link"><a href="#">Storage</a></li>
                    <li class="sub-link"><a href="#">APIs</a></li>
                    <li class="sub-link"><a href="#">Documentation</a></li>
                    <li class="sub-link"><a href="#">Support</a></li>
                </ul>
            </div>
        </div>
    </section>


    <div class="content">
        <section class="side-bar">
            <img class="profile-img" src="images/user.jpg"/>
            <p class="username"><%= username %></p>
            <button class="edit-profile">Edit Profile</button>
        </section>
        
        <main>
            <ol>
                <% migrations.forEach(migration => {%>
                    <li class="card">
    
                        <a class="mig-link" href="/<%= username %>/<%= migration %>"><%= migration %></a>
                        
                    </li>
                <%})%>
            </ol>
        </main>
        
    
    </div>


    
</body>
</html>