* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

.scene {
    width: 30rem;
    height: 45rem;
}

.card {
    transition: all 1s;
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}


.form-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.form__face--front {
    padding: 2rem;
    box-shadow: 0px 2px 5px 0px #bebdbd;
}

.form__face--back{
    padding: 2rem;
    transform: rotateY( 180deg );
    box-shadow: 0px 2px 5px 0px #bebdbd;
}


.flip {
    transform: rotateY(180deg);
}


.img-box {
    text-align: center;
    margin-bottom: 3rem;
}

img.user-login {
    width: 12rem;
    height:12rem;
}



.form__face--back input, .form__face--front input {
    height: 3rem;
    width: 100%;
    outline-color: lightgray;
    font-size: 1.6rem;
    padding: .5rem;
}


input {
    margin-bottom: 2rem;
}

.form__face--front input {
    margin-bottom: 2rem;
}

.btn-sign-in {
    background-color: #347ab6;
    border-radius: 5px;
    border-style: none;
    color: #fff;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.btn-sign-in:hover {
    background-color: #2e699c;
    cursor: pointer;
}

.form-link {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
}

.form-link:link, .form-link:visited {
    color: #347ab6;
}

.form-link:hover {
    color: #2e699c;
}